// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: burlywood;
  //background: -webkit-linear-gradient(left top, #99fcfa, #fff); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(bottom right, #99fcfa, #fff); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(bottom right, #99fcfa, #fff); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(to bottom right, #99fcfa, #fff); /* Standard syntax */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

hr {
  max-width: 400px;
  border-color: #999999;
}

.logo {
  img {
    width: 200px;
  }
}

.content {
  div {
    p {
      text-align: justify;
    }
  }
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: none !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus  {
  color: #555;
  background-color: transparent;
}

.content {
  padding: 1pc 1pc 1pc 1pc;
}

.background {
  background: url('../images/bg-repeat-1.jpg');
  position: relative;
  background-position: center 411px;
  background-repeat: repeat-y;
  background-attachment: scroll;
}

.background:before {
  z-index: 0;
}

.position-relative-z {
  position: relative;
  z-index: 10;
}

.background-bottom {
  background: url('../images/background_bottom.png');
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.background-top {
  position: relative;
  background-color: transparent;
  width: 1270px;
  margin: auto;
}

.background-top:before {
  content: " ";
  left: 135px;
  top: 0px;
  position: absolute;
  width: 1000px;
  height: 656px;
  z-index: 1;
  background: url('../images/bg-top.jpg');
}

header.container {
  z-index: 100;
  padding-top: 270px;
  padding-bottom: 0px;
}
.header-container {
  position: relative;
  z-index: 100;
  padding-top: 0px;
}
.main-container {
  z-index: 100;
  padding-top: 0px;
  margin-top: 0px;
}
footer {
  z-index: 100;
}


.navbar-default .navbar-nav.menu {
  text-align: center;
  float: none;
  > li {
    display: inline-table;
    list-style-type: none;
    /*width: 111px;*/
    margin-bottom: 12px;
    float: none;
    > a {
      padding: 4px 11px;
      border-bottom: 1px solid #4a110f;
      text-decoration: none;
      color: #542a0c;
      font-weight: 500;
      font-style: italic;
      text-transform: none;
      font-size: 14px;
      &:link, &:visited, &:active {
        background: rgba(210, 105, 30, 0.4);
      }
      &:hover {
        background: rgba(210, 105, 30, 0.7);
      }
    }
  }
}
#main-container {
  border: 1px solid #542a0c;
  position: relative;
  z-index: 100;
  margin-left: 42px;
  margin-right: 42px;
  background: rgba(210, 105, 30, 0.2);
}
p {
  font-size: 1em;
  line-height: 1.3;
}


@media (max-width: 1200px) {
  .background-top:before {
    content: " ";
    left: -40px;
    top: 0px;
    position: absolute;
    width: 1050px;
    height: 800px;
    z-index: 1;
    background: url('../images/bg-top.jpg');
  }
}

@media (max-width: 1050px) {
  body {
    background: white;
  }

  .container {
    margin: 0 0 0 0 !important;
    padding: 2pc !important;
    width: 1050px;
  }

  .logo {
    margin-top: 2pc;
    margin-bottom: 1pc;
  }

  .background {
    background: white;
  }

  .background-top:before {
    background: white;
    content: " ";
    left: 0;
    top: 0;
    position: absolute;
    width: 0;
    height: 0;
  }

  .background-bottom {
    background: white;
  }
}

.margin-top-35 {
  margin-top: 35px !important;
}

.container {
  //width: 1010px;
  border: none;
  padding: 0pc 9pc 3pc 9pc;
  margin: auto auto auto auto;
  .container {
    width: 100%;
  }
}

.brand,
.address-bar {
  display: none;
}

.navbar-collapse {
  font-size: 16pt;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.navbar-nav {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

.img-full {
  min-width: 100%;
}

.brand-before,
.brand-name {
  text-transform: capitalize;
}

.brand-before {
  margin: 15px 0;
}

.brand-name {
  margin: 0;
  font-size: 4em;
}

.tagline-divider {
  margin: 15px auto 3px;
  max-width: 250px;
  border-color: #999999;
}

.box {
  margin-bottom: 20px;
  padding: 30px 15px;
}

.intro-text {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 1px;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;

}

.footer {
  margin-top: 20px;
}

footer {
  padding-bottom: 0.5pc;
  text-align: center;
  p {
    margin: 0;
    font-size: 11pt;
  }
}

@media screen and (min-width: 768px) {
  .brand {
    display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: normal;
    color: #fff;
  }

  .top-divider {
    margin-top: 0;
  }

  .img-left {
    float: left;
    margin-right: 25px;
  }

  .address-bar {
    display: inherit;
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
  }

  .margin-bottom-20 {
    margin-bottom: 20px;
  }

  .navbar {
    border-radius: 0;
  }

  .navbar-header {
    display: none;
  }

  .navbar {
    min-height: 0;
  }

  .navbar-default {
    border: none;
    background: transparent;
  }

  .navbar-nav {
    li {
      a {
        line-height: normal;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both;
  }
}

.banner {
  text-align: center;
  margin-bottom: 20px;
  padding: 30px 15px;
}